$lightblue:#1AB9E0;
$darkblue:#17A2C4;
$paleblue:#66B2C4;
$lightorange:#FFA033;
$darkorange:#E37900;

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

*,
*::before,
*::after {
  box-sizing:border-box;
}

html, body {
	min-height:1600px;
}

body {
	background-image:linear-gradient(to bottom, #3c82c8, rgba(58,128,190,1));
  background-size:cover;
  background-repeat:no-repeat;
}

body {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  min-height:1600px;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

#main {
	position:relative;
	display:block;
	width:100%;
	min-height: 100%;
	height: auto !important;
	height:100%;
}

div.content {
	position:relative;
	margin:0 auto;
	z-index:10;
	padding-top:8em;
}

.column__wrapper {
	position:relative;
	margin:0 auto;
	max-width:32em;
}

.waves {
	position:absolute;
	width:102%;
	top:-1em;
	left:-1%;
	fill:lighten($lightblue, 20%);
	z-index:-1;
	@media all and (max-width: 600px) {
		top:0em;
	}
}

#footer_wrapper {
  position:absolute;
  bottom:0;
  width:100%;
  height:0;
  padding-bottom:44.72225%;
}

#footer_inner_wrapper {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
}

.footer__content {
	position:absolute;
	bottom:1em;
	left:1em;
	z-index:10;
}

.swimtim {
	position:absolute;
	width:100%;
	height:0;
	padding-bottom: 133.33%;
	z-index:-1;
  top:1em;
}

.hair {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}

.bubble {
  top:12em;
	position:absolute;
	fill: rgba(255,255,255,0.5);
	stroke: white;
	stroke-width: 2;
	opacity:0;
	width:1em;
	height:1em;
}

.fish1 {
	position:absolute;
	left:-10%;
	top:15em;
	width:2em;
	height:auto;
	//z-index:-1;
	path {
		fill: $lightorange;
	}
}

.fish2 {
	position:absolute;
	top: 25em;
	right:-10%;
	width:3em;
	height:auto;
	z-index:-1;
}

#LeftArm {
	-moz-transform-origin: 100% 30% 0;
	transform-origin: 100% 30% 0;
}

#RightArm {
	-moz-transform-origin: 5% 10% 0;
	transform-origin: 5% 10% 0;
}